.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.register-form input {
  width: 100%;
}

.register-form button {
  width: 100%;
  justify-content: center;
}
